<html>
  <title> Students Private Voting Club, ECE B.Tech. 2014,IIT (BHU) Varansi </title>

  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>

  <body>
    <div id="pen"></div>
	<div id="wrapper">
		<div id="adline">VOTIAPP - Online Voting Application: Powered By: Intellect & Enthusiasm </a></div>
		<div id="head">
		</div><hr/>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<hr/>
		<div id="footer">
			<ul id="footlist">
				<li id="user_reg"><a href="select-vote-case">CONTINUE TO VOTING</a></li>
			</ul>
		</div>
	</div>
  </body>
</html>

